:root {
    --primary: #081221;
    --secondary: #03080f;
    --card: #0e1a2b;
    --text: #c1d1e8;
    --button: #5692e8;
    --heading: #ffffff;
    --input: #182c47;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-image: linear-gradient(to right, var(--primary), var(--secondary));
}

p, small, div, label, button {
    font-family: 'Mulish', sans-serif;
    color: var(--text)
}
a {
    text-decoration: none;
    color: var(--heading)
}
a:hover {
    color: var(--text)
}


h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}